.invisible {
    visibility: hidden;
}


body{
    background:#192226 !important;
}



.navbar-inverse{
    background:#222B31 !important;
    border-bottom:4px solid #f4933e !important;
}

.navbar-brand{
    font:12px Lato !important;
    text-transform:uppercase;
    color:#FFF !important;
    letter-spacing:2px;
    margin-top:2px;
}

.nav {
    margin-bottom:0px;
    position:absolute;
    width:0%;
    height:100%;
    top:0px;
    left:0px;
}
.nav a:hover{
    color:#FFF !important;
    background:#f4933e !important;
    cursor: pointer;
}

.nav li{
    position:relative;
}
.viewrow {
    padding-top:5em;
}

.nav a{

    font:500 11px Lato;
    letter-spacing:2px;
    padding:16px !important;
    color:#a3bfc6 !important;
    text-transform:uppercase;
    position:relative;
    z-index:1000;
}

.navbar-inverse .navbar-toggle{
    border:none;
}

.navbar-collapse{
    box-shadow:none !important;
    border:none !important;
}

.navbar-inverse .navbar-toggle:hover{
    background:transparent !important;
}

.navbar-inverse .navbar-toggle:focus{
    background:transparent !important;
}

.navbar-inverse .navbar-toggle:active{
    background:transparent !important;
}

.icon-bar{
    background:#a3bfc6 !important;
}
.card-header{
    background:#f4933e;
}

.blog-header{
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    cursor: pointer;
}

.clock-column {
    display: inline-block;
    width: calc(100% / 7);
    margin: 0 auto;
}

.dot:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.dot {
    position: relative;
    max-width: 100%;
    margin: 0.5rem;
    background-color: firebrick;
    border-color: firebrick;
    background-size: 100% auto;
    border-radius: 50%;
    border-style: solid;
    height: calc(100vh / 5);
    width: calc(100vh / 5);
}

.off {
    background-color: green;
    opacity: 0.1;
}



@media (max-width: 767px) {
    .nav{
        padding-bottom:20px;

}
    .nav a{
        padding:12px !important;
    }
}

@media (max-width: 480px) {
    .nav{
        padding-bottom:20px;
    }
}

@media (min-width: 480px) {
    .fixed-right {
        margin-left: 52em !important;
    }
}