<div class="container" ng-controller="booksController">
    <div class="row">
        <div class="col-xs-12 col-lg-5 text-center text-white mb-3" ng-click="setNextDisplayPage()">
            <a href="">
                <img src="./assets/{{unfettered_display_page}}" style="height: 800px;">
            </a>
            <span class="border-bottom border-warning" style="height: 10px;"></span>
            <h2 class="">If you like puns and self-deprecating humor...</h2>
            <h2><a href="https://www.amazon.com/unFETTERed-Jillian-Fetter/dp/1508406952/ref=cm_cr_arp_d_product_top?ie=UTF8">Then You Should Join The Ones and Ones of People Getting unFETTERed</a></h2>
            <h3 class="large text-muted">UnFettered puts you behind the eyes of a late bloomer with an active imagination, a craving for romance, and a flawed sense of how to appropriately express herself. After twenty-nine years of playing it safe, Jillian steps away from the comfort of her functional life in search of something more. Her quest to define and obtain fulfillment lead her to explore new living situations, dip a toe in the Internet dating scene, battle blood-sucking insects and confront life’s irksome questions: What is a meaningful existence? When is the right time to walk away from love? are cold sores really that bad?</h3>
        </div>

        <div class="col-lg-2 col-xs-12"></div>

        <div class="col-xs-12 col-lg-5 mt-2 mb-2 text-center">
            <h2 class="text-muted">
                Coming Soon ...
            </h2>
            <div class="text-center mb-3" ng-click="setNextDisplayPage('hyperspear')">
                <a href="">
                    <img src="./assets/{{hyperspear_display_page}}" style="height: 800px;">
                </a>
            </div>
        </div>
    </div>
</div>

